
body {
background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v475-katie-101-abstractblackandwhitebg_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=86196a47d14e811c3149f69279f90c1e");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  font-family: system-ui;
  color: white;
  height: 100%;
  text-align: center;

}
.answer{
  text-align: center;
   color: white;
     font-weight:600
}
 .dropdown {
  position: center;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: center;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  font-weight:500

}

.dropdown:hover .dropdown-content {
  display: block;
}

.desc {
  padding: 15px
}

.new_button{
  font-family: system-ui;
  font-weight:400
 }